
.App-header{
 background-color: #101010;
  line-height: 2;
  display: flex;
  background-color: #101010;
  background-image: url(https://trydo.rainbowit.net/assets/images/bg/bg-image-28.jpg);

  background-repeat: no-repeat;
  background-size: cover;

}
.header{
  display: flex;
}
 .navbar-Header{
  display: inline;
  position: relative;
 }
 .header-li
 {
  color: white;
  display: inline-flex;
 }
.home
{
  background-color: #101010;
  background-image: url(https://trydo.rainbowit.net/assets/images/bg/bg-image-28.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}